@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
}
.top{
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(19, 19, 18);
    font-weight:bolder;
    font-size:26px;
    font-style: oblique;
    width: 100%;
    font-family: "Platypi", serif;


}
.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d7d6d6;
}

.left {
    height: 10vh;
    width: 10vw;
}

.left img {
    height: 90%;
    width: 100%;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    list-style-type: none; 
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    position: relative;
    padding: 2px; 
    cursor: pointer;

}



.navbar-item a {
    display: block;
    padding: 15px;
   
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(28, 26, 26);
    transition:  color 0.6s;
}

.right {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .btn1 {
    width: 9vw;
    height: 7vh;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    background-color: black;
    color: wheat;
}

.btn1:hover {
    background-color: #f7bd5fc1; 
    color: rgb(36, 33, 33);   
}

.dropdown {
    display: none;
    position: absolute;
    border-radius: 3px;
    top: 90%;
    left: 10px;
    background-color: rgba(244, 234, 234, 0.5);
    min-width: 130px;
  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}
.dropdown a {
    font-size: 14px;
    color: rgb(82, 71, 71);
    padding: 2px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown a:hover {
    background-color: #ddd;
}
.navbar-item:hover .dropdown, .navbar-item:focus-within .dropdown {
    display: block;
}


.navbar-item a:hover, .navbar-item:hover a, .navbar-item:focus-within a {
    color: rgb(97, 63, 5);
}





.container11 {
    background-image: url(images/form.jpg);
    background-size: cover; 
    background-position: center; 
   background-repeat: no-repeat; 

    position: relative;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 23px;


    


}

.container11 .form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    
}

.form .input11{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    height: 100px;
    width: 300px;
    margin: 6px;
}
.form input{
    border-radius: 8px;
    height: 25px;
    width: 300px;
    margin: 6px;
}
.form button{
    border-radius: 8px;
    height: 25px;
    width: 300px;
    margin: 6px;
}
.form select{
    border-radius: 8px;
    height: 25px;
    width: 300px;
    margin: 6px;
}

.slider{
   
    cursor: pointer;
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
   
    margin: auto;
}
.slides {
    display: flex; 
    transition: transform 1s ease-in-out; 
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%; 
    height: 300px; 
}
.nav-button {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(228, 208, 208, 0.5); 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
}

.left-button {
    left: 10px; 
}

.right-button {
    right: 10px; 
}
.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}
.provide{
    background-attachment: fixed;
    background-image: url(images/Best-Home-Gym-Equipment.jpg);
    height: 300px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction:column;
}

.provide h1{
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    word-spacing: 7px;
    letter-spacing: 3px;
    font-size: 40px;

}
.div1{
    cursor: pointer;
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(125, 120, 120, 0.2);
    color: rgba(17, 16, 18, 0.8);
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    

}

.div1 img{
    width: 100%;
    height: 88%;
    display: block;
    margin: auto;
}
.div1 .idiv{
    position: relative;
    width: 100%;
    height: 12%;
    background-color:transparent;
    

}




.inner .idiv{
    animation: trans 2s ease-in-out ;
}

@keyframes trans {
    0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    
}
.inner{
    position: relative;
    height: 80% ;
    width:25%;
    margin: auto;
    /* background-color: yellow; */
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    
}
.inner:hover {
    transform: scale(1.3); 
    box-shadow: 10px 10px 0px rgba(0, 0.10, 0, .3);  
  }
  .join {
    margin-top: 20px;
    height: 300px;
    background-image: url(images/button.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
}
.join .h4 {
    margin-top: 60px;
}

.join h1, .join h4 {
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0px 70px;   
}
.join h4 {
    padding: 0px;
    font-size: 20px;
}
.join h1 {
    font-size: 60px;
    font-weight: 900;
}
.btn {
    position: relative;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transform: translateX(60px);
    cursor: pointer;
    height: 40px;
    width: 170px;
    background-color: #e45000;
    transition: transform 0.3s ease, background-color 0.3s ease;



}
.btn:hover {
    background-color: #fc8342;
    color: rgb(84, 77, 77);
   

}


.fitness {
    background-image: url(images/fit.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    margin-top: 2px;
    margin-bottom: 3px;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.fitness h1 {
    font-weight: 700;
    font-size: 100px;
    color: #ccc;
}
.letter {
    display: inline-block;
}
.health-fitness-section {
    background-image: url('images/tios.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    color: #140606;
    text-align: center;
}

.health-fitness-section h1 {
    font-size: 36px;
    margin-bottom: 40px;
    text-transform: uppercase;
    animation: fadeInDown 1s ease-in-out;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-item {
    background: rgba(10, 10, 10, 0.5);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 30%;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.content-item:hover {
    transform: scale(1.05);
}

.video-wrapper video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
}

.text-content h2 {
    color: rgba(212, 215, 219, 0.7);
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Georgia, serif';
    animation: fadeIn 1s ease-in-out;
}

.text-content p {
    font-size: 20px;
    color: rgb(248, 244, 239);
    line-height: 1.5;
    font-family: 'Verdana, sans-serif';
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.logos{
    width: 100%;
    position: relative;
    height: 200px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   
}
.logos h1{
    font-weight: 900;
    color: #072a6d;

    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    
    width: 100%;
    height: 100px;
    position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction:row;
}

.logo .div2{
    color: #072a6d;
     height: 50px;
    cursor: pointer;
     width: 40px; 
    
}

 .logo .div2 i{
    height: 23px;
    width: 90px;
    font-size: 43px;
}







footer {
    cursor:pointer;
    overflow: hidden;
    background-color: #333;
    color: #fff;
    height: 250px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

 .container .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;


    
}
.social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;

}
.box{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    /* left: 0; */
}

.box .nne{
    margin: 0px;
    height:60%;
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 3px;
    gap: 3px;
}

.nne  ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    flex-direction: column;
    
} 
 .nne ul li{ 
    cursor: pointer;
    padding: 2px;



}
.nne ul li a{
    color: #ffffff5e;
    text-decoration: none;
    font-size: 16px;
}
.nne a:hover {

    color: #fff;
}

.box3 p{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #d4cdc8;
    width: 70%;
    
}
.box3 input{
    width: 190px;
    padding: 2px;
}
.box3 button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;    
    height: 20px;
    width: 120px;
    background-color: #e45000;
}
@media (max-width: 900px) {
    .container .box{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
       
    }
    .nne{
        margin-left: 0px;
    }
    footer{

        height: 500px;
    }
    .social-media{
        margin-left: 0px;
    }
    
}



